{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{%url 'index'%}"></a>
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>classsified advertising site</h2>
        <p class="lead">E-Media</p>
        <img src="assets/img/about.jpg" alt="">
        <p class="mt-4">It is a classified advertising site for viewing and posting local advertisements.It works a lot like the Classifieds section of a newspaper, and it's completely free to use. The site has a range of broad categories, and each category has several subcategories, making it easy to navigate to the appropriate section quickly.Also the category features subcategories like computer, books, electronics, sporting, motorcycles and collectibles, among others.
          It allows you to walk away from the drudgery of local postings via offline processes and welcome an easy relaxed way of browsing . Discover everything from jobs to housing to products on sale for all your needs from the comfort of your home or office. No more getting stuck in traffic jams, paying for parking, standing in long queues and carrying heavy bags – get everything you need, and posting over an online community place
          .</p>
      </div>
      
    </div>
  </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Work For You</h2>
 
  <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
</section>

<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
        <h4>Mansi Mishra</h4>
        <p class="text-success">
          <i class="fas fa-award text-success mb-3"></i> Realtor</p>
        <hr>
        <p>
          <i class="fas fa-phone"></i> 8292208683</p>
        <p>
          <i class="fas fa-envelope-open"></i> <mishramansi355@gmail class="com"></p>
      </div>

      <div class="col-md-4">
        <img src="assets/img/realtors/mark.jpg" alt="" class="rounded-circle mb-3">
        <h4>Juhi Pachori</h4>
        <p class="text-success">Realtor</p>
        <hr>
        <p>
          <i class="fas fa-phone"></i>6204324567</p>
        <p>
          <i class="fas fa-envelope-open"></i> pachorijuhu@gmail.com</p>
      </div>

      
    </div>
  </div>
</section>
{% endblock %}